/*insert comments in all the codes*/
*{
  margin: 0;
  padding: 0;
}
.heading h1{
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  font-size: 300%;
}
body{
  font-family: 'Raleway', sans-serif;
  background-image: url('../images/pattern-triangles.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.instructions{
  text-align: center;
  padding-top: 1%;
}
.instructions h2{
  font-size: 150%;
}
.entries{
  display: flex;
  justify-content: space-around;
  padding-bottom: 2%;
  font-size: 150%;
}
.entry{
  text-align: center;
  width: 31%;
  margin: 1%;
  padding: 0.5%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0.8);
}
input{
  display: block;
  font-size: 150%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 58%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
  border-color: black;
}
.test button{
  text-align: center;
  text-decoration: none;
  font-size: 150%;
  width: 10%;
  margin-left: 45%;
  margin-right: 44%;
  text-transform: uppercase;
}
.test button:hover{
  background-color: black;
  color: white;
}
.result{
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid;
  width: 30%;
  margin: 1%;
  margin-left: 35%;
  margin-right: 35%;
}
.properties{
  display: none;
  align-items: space-around;
  font-family: 'Raleway', sans-serif;
}
.properties2{
  display: flex;
  align-items: space-around;
  font-family: 'Raleway', sans-serif;
}
.property{
  width: 31%;
  margin: 1%;
  padding: 0.5%;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0.8);
}
.property2{
  width: 31%;
  margin: 1%;
  padding: 0.5%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0.8);
}
.property h3{
  color: black;
  font-size: 150%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}
.property p{
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
}
.property img{
  width: 50%;
  margin-left: 25%;
}
.property2 img{
  width: 50%;
  margin-left: 25%;  
}
